
/* only Venue currently has nested css - it should probably be moved here */
/* setting this up to be LESS or SASS enabled  - variables */

/* border: 1px solid black; */

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* color-beige 'rgba(237.233. 214. 1)' */
/* color-gray 'rgba (128, 128, 128, 1)' */

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* change this */
.landing-root, .venue-root {font-family: 'Raleway', sans-serif;}
/* {font-family: 'Arial', sans-serif;} */

/* Fill Viewport
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Global  */
html, body, #root { width:100%; height:100%; margin:0;  }
/* Page Wrappers  */
.wrapper { width:100%; height:100%; margin:0;}




/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center {
    margin: auto;
    /* width: 50%; */
}

.centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* HTML Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    color:#666666;
    font-size:1rem;
    padding-top:25px;
}

/* Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Landing */
.landing-root { 
    background-color:rgba(237, 233, 214, 1);
}

.landing-root .content { 
    width:80%;
    vertical-align: middle;
    padding-top:15px;
}

.landing-root img { 
    width:40%;
    height:40%; 
}

.landing-root button { 
    margin-top:25px;
}

/* Login */
.login-root { 
    background-color:rgba(237, 233, 214, 1);
}

.login-root .content { 
    width:50%;
    text-align:center;
    padding:15px;
    box-shadow:0px 0px 70px 10px rgba(128, 128, 128, 0.3);
}

.login-root img{ 
    width:10%; 
    height:10%; 
}

.login-root p{ 
    padding-top:15px;
}

.login-root .actions button:last-child{ 
    margin-left:25px;
}


/* Venue
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.venue-root  { 
    background-color:rgba(237, 233, 214, 0.3);
}

/* inherits margin:auto from above */
.venue-root .content { 
    width:100%;

}
/* for testing */
/* .venue-root > div {
    border: 1px solid black;
} */


/* > Perform 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* this is the fixed width of stage currently */
/* .marquee-wrapper * {
    border: 1px solid black;
} */

.marquee-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:750px; 
    padding-top:8px;
    margin-bottom:-3px;
}

/* .performer-name * {
    
} */

.performer-name  {
    width:calc(100%  /3);
    padding-bottom:10px;
    /* line-height:0; */
}

.performer-name div:first-child  {
    /* line-height:2rem; */
    font-family: 'Raleway Bold', sans-serif;
    font-size:1.3rem;
    letter-spacing: .1rem;
}
.performer-name div:last-child  {
    /* line-height:1rem; */
    font-size:0.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}


.btn-perform {
    width:calc(100%  /3);
    text-align: center;
}


.performer-stats  {
    width:calc(100%  /3);
    text-align:right;
    vertical-align: center;
}

.performer-stats .aa  {
    font-size:0.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.performer-stats .ba, .performer-stats .bb  {
    font-size:1.1rem;
    font-family: 'Arial', sans-serif;
}


.performer-stats .ca  {

}



/* Stage and Below
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* by order in which they are declared */
.stage-wrapper {
    width:80vw;
    height:70vh;
    position:relative;
    border: 1px solid gainsboro;
  }

.instrument-wrapper {
    width:100%;
    height:100%;
    z-index: 0;  
    left:0;
    top:0;
    position:relative;
    /* border: 1px solid gainsboro; */
}

.art-wrapper {
    width:100%;
    height:100%;
    z-index: 10;
    left:0;
    top:0; 
    position:absolute;
    box-shadow:0px 0px 70px 10px rgba(128, 128, 128, 0.3);
}

canvas {
    background-color: transparent;
    
}

.music-wrapper {
/*this flex stuff is left over from previous..don't think we'll need unless we want to unfix size of .instrument*/
    display: flex;
    width:100%;
    height:100%;
    flex-wrap:wrap;
    justify-content:space-around;
    z-index: 20;
    left:0;
    top:0; 
    position:absolute;    
}

.square {    
    width: 33.333333%;
    height: 33.33333%;
    margin:0;
    padding:0;
    background-color:#11ffee00;
    flex-grow:1;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Applause
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* top: calc(50vh - 30vh / 2); */
/* .applause * { border: 1px solid red; } */
.applause {
    /* height:30vh; */
    width:66px;
    padding-right:10px;
    color: rgba(128, 128, 128, 1);
    text-align:center;
    line-height:0;
}

.fixed-right {
    position: fixed;
    top: calc(50vh - 105px);
    right: 0;
}

.applause .top {
    margin-bottom:10px;
}

.applause .counts {
    font-family: 'Arial', sans-serif;
    font-size: 1.8rem;
    line-height:2.5rem;
}

.applause .plus-box  {
    margin-top:5px;
    margin-bottom:5px;
}

.applause .minus-box  {
    margin-top:5px;
    margin-bottom:0px;
}



.applause .btn-voting .st1 {
    fill:#808080;
    opacity: 1;
}

.applause .btn-voting .st0 {
    fill:#EDE9D6;
    opacity: 1;
}

.applause .btn-voting:hover .st0 {
    fill:#EDE9D6;
    opacity: 0.5;
}



.applause .btn-voting:hover .st1 {
    fill:#000000;
    opacity: 1;
}


/* used in audience and applause  */
.indicators {
    width:14px;
    height:14px;
}

.indicators .m1{
    fill:none;
    stroke:#808080;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}



/* Audience
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .audience * { border: 1px solid red; }  */

.audience  {
    height:170px;
    line-height:0;
    color: rgba(128, 128, 128, 1);
}

.fixed-left {
    position: fixed;
    top: calc(50vh - 85px);
    left: 0;
}

.audience .top {
    width:66px;
    text-align:center;
}

.audience .counts {
    font-family: 'arial', sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 900;
}

.top .indicators  {
    margin-top:5px;
    margin-bottom:5px;
}

.audience .bottom  {
    position:relative; 
}

.audience .bottom .description {
    position: absolute;
    left:32px;
    width:100px;
    font-size:1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: red;
    transform: rotate(90deg);
    transform-origin: top left;  
}



/* Chat
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .chat *{
    border: 1px solid red;
} */

.chat {
    width:40vw;
    font-size:1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    background-color:rgba(128, 128, 128, 0.1);
}

.chat:hover {
    background-color:rgba(128, 128, 128, 0.15);
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 40vw / 2);
}
.chat-body {
    line-height: 2rem;
    padding:5px 10px;
}
.chat-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.chat-panel input[type=text] {
    width: 60%;
    padding: 4px 16px;
    margin: 2px 0;
    border: none;
    border-radius: 0;
    border-left: 1px solid rgba(128, 128, 128, 1);
    font-size:1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    background-color:transparent;
}

.chat-panel input::placeholder{
    color:rgba(128, 128, 128, 0.5);
}

.chat-toggler {
    width:20%;
    text-align:center;
    color:rgba(128, 128, 128, 0.7);

}

.chat-submitter {
    width:20%;
    text-align:center;
    text-transform: uppercase;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

