
/* only Venue currently has nested css - it should probably be moved here */
/* setting this up to be LESS or SASS enabled  - variables */

/* border: 1px solid black; */

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* color-beige 'rgba(237.233. 214. 1)' */

/* Fill Viewport
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Global  */
html, body, #root { width:100%; height:100%; margin:0;  }
/* Page Wrappers  */
.wrapper { width:100%; height:100%; margin:0;}


/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center {
    margin: auto;
    /* width: 50%; */
}

.centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* HTML Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    color:#666666;
    font-size:1rem;
    padding-top:25px;
}

/* Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Landing */
.landing-root { 
    background-color:rgba(237, 233, 214, 1);
}

.landing-root .content { 
    width:80%;
    padding-top:15px;
}

.landing-root img { 
    width:40%;
    height:40%; 
}

.landing-root button { 
    margin-top:25px;
}
