
/* only Venue currently has nested css - it should probably be moved here */
/* setting this up to be LESS or SASS enabled  - variables */

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* color-beige 'rgba(237.233. 214. 1)' */

/* Fill Viewport
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Global  */
html, body, #root { width:100%; height:100%; margin:0;  }
/* Page Wrappers  */
.wrapper { width:100%; height:100%; margin:0;}


/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center {
    margin: auto;
    /* width: 50%; */
}

.centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/* Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Landing */
.landing-root { 
    background-color:rgba(237, 233, 214, 1);
    border: 1px solid green;
}

.landing-root .content { 
    width:50%;
}

.landing-root img { 
    width:275px;
    height:393px;
    
}
